.wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 3;
  grid-row: 1;
  background-color: aqua;
}
.two {
  grid-column: 2 / 4;
  grid-row: 1 / 3;
  background-color: brown;
}
.three {
  grid-column: 1;
  grid-row: 2 / 5;
  background-color: cadetblue;
}
.four {
  grid-column: 3;
  grid-row: 3;
  background-color: darkorange;
}
.five {
  grid-column: 2;
  grid-row: 4;
  background-color: deeppink;
}
.six {
  grid-column: 3;
  grid-row: 4;
  background-color: orchid;
}
